@import './../../styles/constants.scss';

.wrapper {

    background: white;
    .container {
        gap: 2rem;


        .left {
            flex: 3;

            >*{
                display: block;
            }

            >:nth-child(2) {
                margin-top: 3rem;
                a {
                    text-decoration: underline;
                    color: orange;
                }
            }
        }

        .right {
            flex: 1;

            .info {
                margin-bottom: 1rem;
                >* {
                    display: block;
                }
            }
        }
    }
}