@import './../../styles/constants.scss';

.wrapper {
    background: white;
    overflow: hidden;

    .container {
        flex-direction: column;
        gap: 2rem;

        .heading {
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            >:nth-child(2)
            
        }
    }
}